.vscode
data
src/__pycache__
.ipynb_checkpoints
training
validation
testing
*__pycache__*
trained_models
trained_detection
output
checkpoints
*.DS_Store
*.pt
rcvenv
*.ipynb
checkpoints_2
checkpoints_model2
setup/Playground.ipynb
checkpoints_model
checkpoints_unet
checkpoints_unet2